:root {
    --color-dark: #0b0f19;
    /* El azul oscuro de nuestro logo */
    --color-lime: #ccff00;
    /* El verde lima de nuestro logo */
    --color-light: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Clases personalizadas de Cofre Importaciones */
.bg-dark-custom {
    background-color: #0b0f19;
    color: #ffffff;
}

.text-lime {
    color: var(--color-lime) !important;
}

/* Estilos para la barra de navegación */
.navbar-brand {
    font-size: 1.8rem;
}

.nav-link:hover {
    color: var(--color-lime) !important;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card .btn {
    margin-top: auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}